@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background: #d2ddeb;
    padding-top: 88px;
    padding-bottom: 135px;
    min-height: 100vh;
    position: relative;
}
button{
    background: transparent;
}
input[type=date]{
    cursor: text;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
select{
    cursor: pointer;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.container{
    width: 1170px;
    margin: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.payment-modal{
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(41,45,75,.65);
    z-index: 99;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    display: flex;
    padding: 25px 0;
    bottom: 100%;
    opacity: 0;
    top: -50px;
    -webkit-transition: opacity 0.3s, top 0.2s, bottom 0.2s;
    -moz-transition: opacity 0.3s, top 0.2s, bottom 0.2s;
    -ms-transition: opacity 0.3s, top 0.2s, bottom 0.2s;
    -o-transition: opacity 0.3s, top 0.2s, bottom 0.2s;
    transition: opacity 0.3s, top 0.2s, bottom 0.2s;
}
.payment-modal.active{
    top: 0;
    bottom: 0;
    opacity: 1;
    overflow-y: auto;
}
.payment-modal .form{
    display: table;
    vertical-align: middle;
    width: 548px;
    background: #fff;
    margin: auto;
    position: relative;
}
.payment-modal .form h3{
    font-size: 15px;
    color: #727588;
    padding: 12px;
    margin-bottom: 15px;
}
.payment-modal .form button.close{
    position: absolute;
    right: 12px;
    top: 12px;
    background: url("../images/modal-close.png") center no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.payment-modal .form form{
    padding: 0 60px;
    display: inline-block;
    width: 100%;
}
.payment-modal .form .error{
    padding: 0 60px 15px;
    color: #f52020;
    font-size: 15px;
}
.payment-modal .form form input,.payment-modal .form form textarea,.payment-modal .form form select{
    line-height: 52px;
    border: 1px solid #bec2da;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    padding: 0 12px;
    position: relative;
    font-size: 16px;
    color: #a1c4ff;
}
.payment-modal .form form textarea{
    height: 75px;
    min-height: 75px;
    max-height: 150px;
    resize: vertical;
    line-height: 16px !important;
    padding: 12px;
}
.payment-modal .form form input[type="date"]{
    background: url(../images/calendar-icon.png) calc(100% - 15px) 15px no-repeat;
}
.payment-modal .form form select{
    background: url("../images/select-dropdown.png") calc(100% - 15px) 20px no-repeat;
}
.payment-modal .form form .item{
    margin-bottom: 10px;
}
.payment-modal .form form .item.title{
    float: left;
    width: 265px;
}
.payment-modal .form form .item.amount{
    float: right;
    width: 135px;
}
.payment-modal .form form .item label{
    font-size: 13px;
    color: #a1c4ff;
    margin-bottom: 5px;
    display: block;
}
.payment-modal .form form [type="submit"]{
    background: #a1c4ff;
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    float: right;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
header{
    background: #ffffff;
    height: 56px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
    z-index: 10;
}
header a.logo{
    background: url("../images/logo.png") no-repeat;
    width: 184px;
    height: 56px;
    float: left;
}
header .welcome{
    float: right;
    line-height: 56px;
    font-weight: 300;
    color: #9ba5b2;
    font-size: 13pt;
}
button:active{
    box-shadow: inset 0 4px 11px rgba(0, 0, 0, 0.07);
}
section.filter-area > .container{
    background: #f9fafb;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
}
section.filter-area .add-payment-button{
    line-height: 86px;
    font-size: 11pt;
    color: #a1c4ff;
    padding: 0 24px;
    position: relative;
    cursor: pointer;
}
section.filter-area .add-payment-button:before{
    content: " ";
    background: url("../images/add-payment-before.png") no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -4px;
}
section.filter-area .add-payment-button:after{
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 12px;
    width: 1px;
    background: #e0dcda;
    content: " ";
}
section.filter-area .extended-filters{
    line-height: 86px;
    padding: 0 26px 0 16px;
    float: right;
    position: relative;
}
section.filter-area .extended-filters button{
    background: #a7bedb;
    color: #f9fafb;
    height: 32px;
    padding: 0 13px;
    border-radius: 16px;
    cursor: pointer;
}
section.filter-area .search-area{
    position: relative;
    padding: 0 20px;
    float: right;
    line-height: 86px;
}
section.filter-area .search-area input{
    background: url("../images/search.png") left no-repeat transparent;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 36px;
    font-size: 11pt;
}
::placeholder{
    color: #bbbbbb;
}
section.extended-filters{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section.extended-filters.active{
    padding-top: 15px;
    max-height: 1000px;
}
section.extended-filters .container{
    background: #f9fafb;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
    display: -webkit-flex;
    display: flex;
    position: relative;
}
section.extended-filters .container:before{
    background: url("../images/extended-arrow.png");
    content: " ";
    width: 21px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: -10px;
}
section.extended-filters [class^="by"]{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
    position: relative;
}
section.extended-filters .by-category{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 425px;
}
section.extended-filters [class^="by"]:not(.by-category){
    padding: 15px 40px;
}
section.extended-filters [class^="by"] h2{
    font-size: 11pt;
    color: #9ba5b2;
    font-weight: 300;
    margin-bottom: 12px;
}
section.extended-filters .by-category input[type="checkbox"]{
    display: none;
}
section.extended-filters .by-category .labels{
    display: inline-block;
    width: 100%;
    margin-bottom: -10px;
}
section.extended-filters .by-category .labels label{
    float: left;
    line-height: 34px;
    color: #a1c4ff;
    font-size: 13px;
    border: 1px solid #a1c4ff;
    border-radius: 17px;
    padding: 0 12px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
section.extended-filters .by-category .labels label[data-checked="true"]{
    color: #f9fafb;
    background: #a1c4ff;
}
section.extended-filters [class^="by"] input:not([type="checkbox"]){
    border: 1px solid #bec2da;
    width: 100%;
    line-height: 37px;
    margin-bottom: 10px;
    padding: 0 12px;
    border-radius: 5px;
    background: #fff;
}

/* Lines */
section.extended-filters [class^="by"]:not(:last-child):after,
section.filter-area .add-payment-button:after,
section.filter-area .search-area:after,
section.filter-area .extended-filters:after{
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 12px;
    width: 1px;
    background: #e0dcda;
    content: " ";
}
section.filter-area .search-area:after,
section.filter-area .extended-filters:after{
    right: auto;
    left: 0;
}


section.result{
    margin-top: 25px;
}
section.result div.container{
    display: table;
}
section.result > h1{
    color: #45617e;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
}
section.result .result{
    width: 664px;
    float: left;
    max-height: 460px;
    overflow-y: auto;
}
section.result .result::-webkit-scrollbar-thumb{
    background: #a6b3c3;
    width: 100%;
    border-radius: 5px;
}
section.result .result::-webkit-scrollbar{
    width: 5px;
}
section.result .result .item{
    background: #f9fafb;
    padding: 23px 25px;
    position: relative;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}
section.result .result .item:hover{
    background: #f3f4f8;
}
section.result .result .item:not(:last-child){
    border-bottom: 1px solid #d2ddeb;
}
section.result .result .item h3{
    font-size: 19px;
    color: #45617e;
    font-weight: 300;
}
section.result .result .item .date{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 13px;
    color: #aaaaaa;
}
section.result .result .item .amount{
    font-size: 23px;
    font-weight: 100;
    color: #f85776;
    position: absolute;
    right: 15px;
    top: 42px;
}
section.result .result .item .amount:after{
    content: "GEL";
    display: block;
    font-size: 13px;
    text-align: right;
    line-height: 9px;
}
section.result .result .item .category{
    line-height: 27px;
    color: #a1c4ff;
    font-size: 10px;
    border: 1px solid #a1c4ff;
    border-radius: 17px;
    padding: 0 12px;
    display: inline-block;
    margin-top: 10px;
}
section.result .result .item .comment{
    margin-top: 35px;
    color: #b8b8b8;
    font-size: 14px;
}
section.result .result .item .comment:before{
    display: block;
    font-size: 14px;
    content: "comment:";
    color: #45617e;
    margin-bottom: 7px;
}
section.result .charts{
    width: 490px;
    float: right;
    background: #f9fafb;
    padding: 13px;
}
section.result .charts h2{
    font-size: 12px;
    color: #45617e;
}
section.result .charts .chart{
    display: -webkit-flex;
    display: flex;
    height: 200px;
    padding: 30px 0 20px;
}
section.result .charts .chart .col{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    position: relative;
}
section.result .charts .chart .col .i{
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
    background: #a1c4ff;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
section.result .charts .chart .col .name{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    font-size: 12px;
    color: #45617e;
    text-transform: capitalize;
}
section.result .charts .chart .col .i:hover{
    background: #779cdb;
}
section.result .charts .chart .col .i span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90%;
    opacity: 0;
    font-size: 13px;
    color: #45617e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section.result .charts .chart .col .i:hover span{
    bottom: 100%;
    opacity: 1;
}
section.result .total{
    float: left;
    width: 664px;
    background: #a1c4ff;
    height: 75px;
    text-align: right;
    padding: 0 15px;
    color: #f9fafb;
    font-size: 14px;
    line-height: 25px;
}
section.result .total .amount{
    font-size: 28px;
}
section.result .total :not(.amount){
    margin-top: 8px;
}
footer{
    text-align: center;
    color: #9ba5b2;
    background: #fff;
    height: 100px;
    padding-top: 32px;
    font-size: 13px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 1210px){
    .container{
        width: 960px;
    }
    section.result .result,section.result .total{
        width: 55%;
    }
    section.result .charts{
        width: 43%;
    }
    footer{
        height: 60px;
        padding-top: 13px;
    }
    body{
        padding-bottom: 110px;
    }
}

@media (max-width: 990px){
    .container{
        width: 680px;
    }
    section.result .result{
        max-height: 350px;
    }
    section.result .result .item{
        padding: 15px;
    }
    section.result .result .item .amount{
        font-size: 18px;
    }
    section.result .charts .chart{
        height: 145px;
    }
    section.filter-area .add-payment-button,
    section.filter-area .extended-filters,
    section.filter-area .search-area{
        line-height: 70px;
    }
    section.filter-area .add-payment-button:after{
        display: none;
    }
    section.extended-filters .container{
        display: table;
    }
    section.extended-filters [class^="by"]{
        float: left;
        width: 50%;
    }
    section.extended-filters .by-category{
        width: 100%;
        padding: 20px 50px;
    }
    section.extended-filters .by-category:after{
        left: 40px !important;
        right: 40px !important;
        top: auto !important;
        bottom: 0 !important;
        width: auto !important;
        height: 1px;
    }
}

@media (max-width: 710px){
    .container{
        width: calc(100% - 20px);
    }
    section.result{
        width: 100%;
        display: inline-block;
        overflow-x: hidden;
    }
    section.result div.container{
        display: inline-block;
        width: 190%;
        position: relative;
        left: 10px;
    }
    section.result .charts,
    section.result .result{
        width: calc(52% - 40px);
        margin: 0;
    }
    section.result .charts{
        float: left;
        margin-left: 10px;
    }
    section.result div.container.chart{
        left: calc(-97% + 57px);
    }
    .payment-modal .form{
        width: calc(100% - 30px);
    }
    .payment-modal .form form .item{
        width: 100% !important;
    }
    .payment-modal .form form{
        padding: 0 15px;
    }
    .payment-modal .form form input, .payment-modal .form form textarea, .payment-modal .form form select{
        height: 40px;
        font-size: 12px;
        line-height: 40px;
    }
    .payment-modal .form form [type="submit"]{
        width: 100%;
    }
    .payment-modal{
        padding: 15px 0;
    }
    .payment-modal .form form select{
        background-position: calc(100% - 11px) 16px;
    }
    .payment-modal .form form input[type="date"]{
        background-position: calc(100% - 11px) 10px;
    }
    section.filter-area .add-payment-button{
        padding: 0;
        font-size: 12px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #d2ddeb;
    }
    section.filter-area .extended-filters{
        padding: 0;
        text-align: center;
        width: 23%;
    }
    section.filter-area .extended-filters button{
        overflow: hidden;
        text-indent: 0;
        width: 32px;
        white-space: nowrap;
        padding: 0;
    }
    section.filter-area .extended-filters button:before{
        content: "+";
        text-indent: 0;
        display: inline-block;
        margin-right: 15px;
        font-size: 20px;
        line-height: 32px;
        width: 33px;
        text-align: center;
        padding: 0;
    }
    section.filter-area .search-area{
        width: 77%;
        float: left;
    }
    section.filter-area .search-area:after{
        display: none;
    }
    section.filter-area .container{
        height: 140px;
    }
    section.extended-filters .container{
        width: 100%;
    }
    section.extended-filters [class^="by"]{
        width: 100%;
        padding: 15px !important;
    }
    section.extended-filters{
        width: 100%;
        padding: 0 10px;
    }
    section.extended-filters [class^="by"]:not(:last-child):after,section.extended-filters .by-category:after{
        left: 15px !important;
        right: 15px !important;
        top: auto !important;
        bottom: 0 !important;
        width: auto !important;
        height: 1px;
    }
    section.result .total{
        width: calc(52.6315789% - 20px);
        margin-top: 15px;
        position: relative;
    }
}